<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.wareto.drawingDocument</string>
			<key>UTTypeDescription</key>
			<string>Drawing document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/vnd.DrawingApp+json</string>
				<key>public.filename-extension</key>
				<array>
					<string>DRaw</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DRaw</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.wareto.drawingDocument</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.wareto.drawingDocument</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DRaw</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Drawing document</string>
		</dict>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing document</string>
			<key>UTTypeIdentifier</key>
			<string>com.wareto.drawingDocument</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>DRaw</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>
